<nav class="navbar navbar-expand-sm navbar-dark bg-dark-maua text-white">
	<a class="navbar-brand pb-2 mx-5" href="/">
		<img src="img/logo-branco.png" id="all-nav-logo" alt="Logo Smart Parking Mauá">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hist-toogle-menu" aria-controls="hist-toogle-menu" aria-expanded="false" aria-label="Toggle navigation bar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="hist-toogle-menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item mr-3">
				<% if( pageActive === 'live' ) { %>
					<a class="nav-link text-white h5 btn-active" href="live">Ao vivo</a>
				<% } else { %>
					<a class="nav-link text-white h5" href="live ">Ao vivo</a>
				<% } %>
			</li>
			<li class="nav-item mr-3">
				<% if( pageActive === 'history' ) { %>
					<a class="nav-link text-white h5 btn-active" href="history">Histórico</a>
				<% } else { %>
					<a class="nav-link text-white h5" href="history">Histórico</a>
				<% } %>
			</li>
		</ul>
	</div>
</nav>