<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Smart Parking</title>
<link rel="shortcut icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" type="text/css" href="css/lib/bootstrap-4.0.0.min.css">
<link rel="stylesheet" type="text/css" href="css/lib/fontawesome-5.3.1/css/all.min.css">
<% if( pageActive === 'history' ) { %>
  <link rel="stylesheet" type="text/css" href="css/lib/foundation-datepicker.min.css">
<% } %>
<link rel="stylesheet" type="text/css" href="css/main.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>