a:hover{
	text-decoration: none;
	color: #00293f!important;
	transition: color .3s;
}
.h-full{
	height: calc(100vh - 65px);
}
.display-5 {
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 1.2;
}
.fa-circle{
	font-size: .75rem;
	color: #ff0000;
}
.text-maua{
	color: #004684;
}
.bg-maua{
	background-color: #004684;
}
#entrada, #saida{
	font-size: 1.5rem;
}
.btn-outline-maua{
    color: #004684;
    background-color: transparent;
    border-color: #004684;
}
.btn-outline-maua:hover{
    color: #ffffff;
    background-color: #00293f;
    border-color: #ffffff;
    transition: all .3s!important;
}
.active{
	border-bottom: .5px solid #ffffff;
	border-width: 50%;
}