body {
    color: #00293f;
}
ul li a:hover {
	text-decoration: none;
	color: #eda407!important;
	transition: color .3s;
}
.navbar-dark .navbar-toggler {
    border-color: rgba(237, 164, 7, 0.5); /* #eda407 color in rgba format */
}
.form-control {
    color: #00293f;
    border: 1px solid #00293f;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}
.h-view-full {
    height: calc(100vh - 100px);
}
.bg-dark-maua {
	background-color: #00293f;
}
.btn-active {
	border-bottom: .5px solid #eda407;
}
.btn-light-maua {
    color: #00293f;
    background-color: #ffffff;
    border-color: #00293f;
}
.btn-dark-maua {
    color: #ffffff;
    background-color: #00293f;
}
.btn-default-maua {
    color: #004684;
    background-color: #ffffff;
    border-color: #00293f;
}
.btn-default-maua:hover {
    color: #ffffff;
    background-color: #004684;
    border-color: #ffffff;
    transition: all .3s!important;
}
.btn-default-maua:not(:disabled):not(.disabled).active,
.btn-default-maua:not(:disabled):not(.disabled):active {
    color: #ffffff;
    background-color: #004684;
}
#hist-chart-main {
    width: 100vw;
    height: 80vh;
}
@media (max-width: 767.98px) {
    #aovivo-chart-main {
        width: 100vw;
        height: 80vh;
    }
    #aovivo-chart-availability {
        width: 93vw;
        height: 40vh;
    }
}
@media (max-width: 991.98px) {
    #all-nav-logo {
        height: 50px;
    }
    #aovivo-chart-main {
        width: 100vw;
        height: 80vh;
    }
    #aovivo-chart-availability {
        width: 93vw;
        height: 45vh;
    }
}
@media (min-width: 992px) {
    #aovivo-chart-main {
        width: 75vw;
        height: 80vh;
    }
    #aovivo-chart-availability {
        width: 23vw;
        height: 45vh;
    }
}