#entrada, #saida {
	font-size: 1.3vw;
}
a:hover{
	text-decoration: none;
	color: #eda407!important;
	transition: color .3s;
}
.h-full{
	height: calc(100vh - 65px);
}
.display-5 {
    font-size: 2.6vw;
}
.display-6 {
    font-size: 1.5vw;
}
.display-7 {
    font-size: 1.15vw;
}
.bg-maua-dark {
	background-color: #00293f;
}
.btn-outline-maua {
    color: #004684;
    background-color: transparent;
    border-color: #00293f;
}
.btn-outline-maua:hover {
    color: #ffffff;
    background-color: #004684;
    border-color: #ffffff;
    transition: all .3s!important;
}
.activeMenu {
	border-bottom: .5px solid #eda407;
	border-width: 50%;
}